<p-blockUI [blocked]="submited"> <app-bloqueo></app-bloqueo></p-blockUI>

<div class="card">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <!-- <p-divider align="left">
                <div class="inline-flex align-items-center"><i class="pi pi-user mr-2"></i><b>Datos Cita</b></div>
            </p-divider> -->
        <!-- <p-divider type="dashed"><span class="p-tag">Cita</span></p-divider> -->
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
                <label>1. Fecha</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-calendar"></i>
                    </span>
                    <input pInputText type="text" formControlName="fecha" readonly="true" />
                </div>
            </div>
            <div class="field col-12 md:col-2">
                <label>Inicio</label>
                <p-inputMask formControlName="inicio" id="inicio" styleClass="w-full" mask="99:99"
                    placeholder="HH:mm"></p-inputMask>
                <small class="p-error block" *ngIf="itemForm.get('inicio')?.hasError('required')">Dato
                    requerido.</small>
            </div>
            <div class="field col-12 md:col-2">
                <label>Fin</label>
                <p-inputMask formControlName="fin" id="fin" styleClass="w-full" mask="99:99"
                    placeholder="HH:mm"></p-inputMask>
                <small class="p-error block" *ngIf="itemForm.get('fin')?.hasError('required')">Dato requerido.</small>
            </div>
            <div class="field col-12 md:col-2">
                <label>Estado Cita</label>
                <p-dropdown appendTo="body" formControlName="codigoEstadoCita" id="codigoEstadoCita" [autofocus]="true"
                    [options]="listaEstados" optionLabel="nombre" optionValue="codigo"
                    placeholder="Seleccione una opción">
                    <ng-template let-state pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-circle-fill" [style]="{color: state.color}"></i>
                            <div>{{ state.nombre }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-state pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="state">
                            <i class="pi pi-circle-fill" [style]="{color: state.color}"></i>
                            <div>{{ state.nombre }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error block" *ngIf="itemForm.get('codigoEstadoCita')?.hasError('required')">Dato
                    requerido.</small>
            </div>
            <div class="field col-12 md:col-3">
                <label>Nota</label>
                <input formControlName="nota" type="text" pInputText id="nota" tabindex="-1" />
            </div>

        </div>
        <!-- <p-divider align="left">
                <div class="inline-flex align-items-center"><i class="pi pi-user mr-2"></i><b>Datos Cliente</b></div>
            </p-divider> -->
        <!-- <p-divider type="dashed"><span class="p-tag">Cliente</span></p-divider> -->
        <div class="p-fluid p-formgrid grid">
            <!-- <div class="field col-12 md:col-1">
                    <label>N°</label>
                    <input type="text" formControlName="correlativo" pInputText />
                </div> -->
            <div class="field col-12 md:col-3">
                <label>2. Cliente</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <p-autoComplete appendTo="body" formControlName="clienteTemporal" #clienteTemporal
                        styleClass="w-full" [suggestions]="listaClientesFiltrados"
                        (completeMethod)="filtrarCliente($event)" [showEmptyMessage]="true" [maxlength]="25"
                        emptyMessage="No existe" [forceSelection]="true" (onSelect)="seleccionarCliente($event)"
                        field="codigoCliente" [delay]=500 [showClear]="true" (onClear)="limpiarCliente()"
                        placeholder="Introduzca el código del cliente" [autofocus]="true">
                        <ng-template let-item pTemplate="item">
                            <div class="row">
                                <div class="text-wrap">
                                    <b>{{ item.codigoCliente }}</b> - {{ item.nombreCompleto }}
                                </div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>

                <small class="p-error block" *ngIf="itemForm.get('cliente')?.hasError('required')">Dato
                    requerido.</small>
            </div>
            <div class="field col-12 md:col-4">
                <label>Nombre</label>
                <input type="text" formControlName="cliente" pInputText maxlength="200" readonly tabindex="-1" />
            </div>
            <div class="field col-12 md:col-2">
                <label>Celular</label>
                <input formControlName="telefonoCliente" type="text" pInputText id="telefonoCliente" maxlength="50"
                    readonly tabindex="-1" />
            </div>
            <div class="field col-12 md:col-3">
                <label>Email</label>
                <div class="p-inputgroup">
                    <input formControlName="emailCliente" type="text" pInputText id="emailCliente" maxlength="50"
                        readonly tabindex="-1" />
                    <p-button pTooltip="Crear cliente" tooltipPosition="top" (onClick)="adicionarNuevoCliente()"
                        icon="pi pi-user-plus" styleClass="p-button" tabindex="-1"></p-button>
                    <p-button pTooltip="Actualizar cliente" tooltipPosition="top" (onClick)="actualizarCliente()"
                        icon="pi pi-user-edit" styleClass="p-button" tabindex="-1"></p-button>
                </div>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
                <label>3. Profesional</label>
                <p-dropdown appendTo="body" formControlName="idUsuarioProfesional" id="idUsuarioProfesional"
                    [options]="listaUsuarios" optionLabel="nombreCompleto" optionValue="id"
                    placeholder="SELECCIONE UN PROFESIONAL">
                </p-dropdown>
            </div>
            <!-- <div class="field col-12 md:col-2">
                <label>&nbsp;</label>
                <p-toggleButton [(ngModel)]="multiplesServicios" onLabel="Yes" offLabel="No"></p-toggleButton>
            </div> -->
        </div>
        <!-- <p-divider type="dashed"><span class="p-tag">Servicio</span></p-divider> -->
        <div
        *ngIf="!itemForm.get('id')?.value"
        class="p-fluid p-formgrid grid">
            <!-- <p-toggleButton [(ngModel)]="multiplesServicios" onLabel="Un Servicio" offLabel="No"></p-toggleButton> -->
            <div class="field col-12 md:col-2">
                Multiples Servicios&nbsp;<input type="checkbox" formControlName="multiplesServicios">
            </div>
        </div>
        <div
        *ngIf="!itemForm.get('multiplesServicios')?.value"
        class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
                <label>4. Servicio</label>
                <p-dropdown appendTo="body" formControlName="idProducto" id="idProducto" [autofocus]="true"
                    [options]="listaServicios" optionLabel="nombre" optionValue="id" [filter]="true"
                    placeholder="Seleccione una opción" (onChange)="cambioServicio($event)">
                </p-dropdown>
            </div>
        </div>
        <div
        *ngIf="itemForm.get('multiplesServicios')?.value"
        class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12">
                <label>4. Servicios</label>
                <p-autoComplete appendTo="body" formControlName="servicio" #servicio styleClass="w-full"
                    [suggestions]="listaServiciosFiltrados" (completeMethod)="filtrarServicio($event)"
                    [showEmptyMessage]="true" emptyMessage="No existe" [forceSelection]="true" [minLength]="1"
                    [maxlength]="50" (onSelect)="seleccionarServicio($event)" field="nombre"
                    placeholder="Introduzca el código o nombre del servicio/servicio" [delay]=750>
                    <ng-template let-item pTemplate="item">
                        <div class="p-fluid p-formgrid grid text-wrap">
                            <div class="field col-12 md:col-12">
                                <div class="field">
                                    <b>{{ item.codigoProducto }}</b> - {{ item.nombre }}
                                    <b>Precio Bs.</b> {{ item.precio | formatoDecimal}}
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="field col-12 md:col-12">
                <p-table #dt styleClass="p-datatable-sm" [value]="detalle" responsiveLayout="scroll" [rows]="10"
                    [paginator]="false" [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>N°</th>
                            <th style="text-align:center; width:10%">Código</th>
                            <th style="text-align:center; width:30%">Servicio</th>
                            <th style="text-align:center; width:30%">Tiempo(minutos)</th>
                            <th style="text-align:center; width:10%">Cantidad</th>
                            <th style="text-align:center; width:10%">Precio</th>
                            <th style="text-align:center; width:10%">Subtotal</th>
                            <th style="text-align:center; width:10%">Descuento</th>
                            <th style="text-align:center; width:10%">Total</th>
                            <th style="text-align:center; width:5%"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-i="rowIndex" let-item>
                        <tr [pContextMenuRow]="item">
                            <td><b>{{ i + 1 }}</b></td>
                            <td>{{item.codigoProducto}}</td>
                            <td>{{item.producto}}</td>
                            <td>{{item.tiempo}}</td>
                            <td>{{item.cantidad}}</td>
                            <td class="text-right">{{item.precio | formatoDecimal}}</td>
                            <td class="text-right">{{item.subtotal | formatoDecimal}}</td>
                            <td class="text-right">{{item.descuento | formatoDecimal}}</td>
                            <td class="text-right">{{item.total | formatoDecimal}}</td>
                            <td style="width:5rem; min-width:2rem;">
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        (click)="deleteItem(item)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="8" class="text-right">TOTAL</td>
                            <td class="text-right">{{getDetalleTotal() | formatoDecimal}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <p-divider type="dashed"></p-divider>
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple label="Salir" icon="pi pi-times" class="p-button-secondary p-button-text"
                (click)="onClose()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-text" (click)="onSave()"></button>
        </div>
    </form>
</div>
