<p-panel header="EMPRESAS" [toggleable]="true">
    <p-table #dt styleClass="p-datatable-sm" [value]="items" responsiveLayout="scroll"
        [globalFilterFields]="['nit','nombre','representanteLegal']" [paginator]="false" [rowHover]="true"
        dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Filtrar...." class="w-full sm:w-auto" />
                </span>
                <div class="flex">
                    <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="newItem()"></button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>N°</th>
                <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="codigoPais">CodigoPais<p-sortIcon field="codigoPais"></p-sortIcon></th>
                <th pSortableColumn="unipersonal">Unipersonal<p-sortIcon field="unipersonal"></p-sortIcon></th>
                <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="sfeNit">Nit<p-sortIcon field="sfeNit"></p-sortIcon></th>
                <th>Operación</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i="rowIndex" let-item>
            <tr>
                <td><b>{{ i + 1 }}</b></td>
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.codigoPais}}</td>
                <td>{{item.unipersonal ? 'SI':'NO'}}</td>
                <td>{{item.email}}</td>
                <td>{{item.sfeNit}}</td>
                 <td style="width:5rem; min-width:5rem;">
                    <div class="flex">
                        <p-fileUpload
                        class="p-button-rounded p-button-success mr-2"
                        #imageUpload mode="basic" name="myfile" accept="image/*"
                        invalidFileSizeMessageSummary="{0}: Tamaño del archivo inválido, "
                        invalidFileSizeMessageDetail="El tamaño máximo debe ser {0}."
                        invalidFileTypeMessageSummary="{0}: Tipo del archivo inválido, " [maxFileSize]=500000
                        [customUpload]="true" (uploadHandler)="cargarImagen($event, imageUpload, item)" [auto]="true"
                        icon="pi p-fileUpload"
                        chooseLabel="Logo"
                        >
                        </p-fileUpload>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editItem(item)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteItem(item)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>


<p-dialog header="QR conexión" [(visible)]="display">
    <p-image [src]="qrUrl" alt="Image" width="500"></p-image>
</p-dialog>
